<script type="text/javascript">
  
    // update the product sku
    function updateProductSku(){
        $('#sku').val($('option:selected').attr('data-sku'))
    }

    //  Handle product size select option
    $('select').change(function(){
        updateProductSizeOption()
        updatedProductQuatity()
        updateProductSku()
    })

    // update product size  with proper value
    function updateProductSizeOption() {
        $('.size-option').each(function(){
            if( $(this).attr('data-quantity') ==0 ){
                $(this).attr('disabled', 'disabled');
                $(this).text($(this).attr('value')+ '( Out of stock )');
            } else {
                $(this).removeAttr('disabled');
                $(this).text($(this).attr('value'));
            }
        })
    }

    // populate product quantity with proper value
    function updatedProductQuatity(){
        //By default vale to 1
        $('.qty-input').val(1)
        var quatity_in_bag = parseInt($('option:selected').attr('data-session-quantity'))
        if( isNaN(quatity_in_bag)){
            $('.qty-input').attr('max', parseInt($('option:selected').attr('data-quantity')))
        } else {
            $('.qty-input').attr('max', parseInt($('option:selected').attr('data-quantity')) - quatity_in_bag)
        }

    }

    // Populate with proper value for size and quantity while loading the page  
    window.onload = function(){
        updateProductSizeOption()
        updatedProductQuatity()
        updateProductSku()
    }

    // Decrement product quatity 
    $('.decrement-qty').click(function(e){
        e.preventDefault();
        var currentPos = $(this).closest('.input-group').find('.qty-input')[0];
        currentValue = parseInt($(currentPos).val());
        if( currentValue >1 ){
            $(currentPos).val(currentValue-1)
        }
    })

    // Increment product quantity
    $('.increment-qty').click(function(e){
        e.preventDefault();
        currentPos = $(this).closest('.input-group').find('.qty-input')[0];
        currentValue = parseInt($(currentPos).val());
        if(currentValue < parseInt($(currentPos).attr('max'))){
            $(currentPos).val(currentValue+1)
        }
    })
</script>