@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* root colors and styles */
:root {
    --body-font:'Urbanist', sans-serif;
    --body-weight: 400;
    --heading-weight: 600;
    --heading-font: 'Urbanist', sans-serif;
    --nav-color:#1FD6FF;
    --light-blue:#5065A8;
    --light-ocean-blue:rgba(36,47,109,0.8);
    --ocean-blue:#242f6d;
    --nav-font-weight:800;
    --text-color:#0000;
    --button-brown-color:#663103;
    --button-brown-hover-color:#663103b4;
    --theme-1:#015E73;
    --theme-2:#BF5C04;
    --theme-3:#049DBF;
}

html {
    height: 100%;
}

/* ------ general style */

body {
    height:100%;
    display:flex;
    flex-direction:column;
    padding: 0;
    margin:0;
    font-family: var(--body-font);
    font-weight: var(--body-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--heading-weight);
}

.search-icon,
.nav-link p,
.navbar-nav a{
    font-weight:var(--nav-font-weight);
    font-family: var(--body-font);
}

.bg-theme1 {
    background-color: var(--theme-1);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-black {
    color: #0000;
}

.text-ocean-blue {
    color: var(--ocean-blue);
}

.text-light-blue {
    color: var(--light-blue);
}

.border-black {
    border: 1px solid black;
}

.border-ocean-blue {
    border: 1px solid var(--ocean-blue);
}

.btn-outline-light-blue {
    background-color: white;
    color: var(--light-blue);
    border: solid 1px var(--light-blue) ;
}

.btn-light-blue-nhover,
.btn-light-blue {
    background:var(--light-blue);
    color: white;
}

.btn-light-blue:hover {
    background: white;
    color:var(--light-blue);
}

.border {
    border: 1px solid white
}

/* from bluma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-bg-brown {
    background: var(--button-brown-color);
    color: white;
}

.btn-bg-brown:hover {
    background-color: var(--button-brown-hover-color);
    color:whitesmoke; 
}

.btn-ocean-blue {
    background-color: var(--ocean-blue);
    color: white;
    border:var(--ocean-blue);
}

.btn-ocean-blue:hover {
    color: #fff;
    background-color: var(--light-ocean-blue)
}

.btn-outline-ocean-blue {
    background-color: white;
    color: var(--ocean-blue);
    border: solid 1px var(--ocean-blue) ;
}
.transparent-bg {
    background:rgba(31, 214, 255, 0.4);
    z-index: 10
}

/* ------------ logo and navbar */
.logo {
    height: 45px;
}

.navbar1 {
    height: 75px;
}

/* override nav items default text color */
.navbar-light .navbar-nav .nav-link
{
    color:var(--ocean-blue);
}

.navbar-light 
.navbar-nav 
.active>.nav-link {
    color: #271EF6;
}

.navbar-light 
.navbar-nav 
.nav-link:focus, 
.navbar-light 
.navbar-nav 
.nav-link:hover,
.icon i:hover,
.menu-item li a div:hover
{
    color: #a1b0e1;
}

/* ---------- hero section */
.header-container {
    padding-top: 100px;
}

.hero-img {
    height: calc(100vh - 100px);
    background-size: cover;
}
.display-top {
    z-index: 10;
}

.overlay {
    position: absolute;
    bottom: 1%;
    left: 4%;
    z-index: 10;
    padding: 30px;
    padding-bottom:10px;
    color: #0000;
    text-align: center;
}

.hero-text {
    color: var(--theme-2);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}


/* ---------  contact us */

.bg-img-contact-home {
    min-height: 300px;
    background-image: url(../img/contact.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    background-size: 99% 100%;
} 

.bg-img-holder-home {
    align-items: center;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    padding: 21px 21px 42px 21px;
    min-height: 300px;
  }

.bg-img-holder-home::after{
    content: '';
    background-image: url(../img/slide-1.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: calc(100 / 100);
}

.holder-home-inner{
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.home-inner-headline {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 55px;
    font-weight: 400;
    min-height: 48px;
    color: rgba(255,255,255,1);
}

.home-inner-body {
    font-size: 18px;
    margin-top: 8px;
    min-height: 27px;
    color: rgba(255,255,255,1);
}
.black-background-filter{
    background-color: rgba(5, 5, 5, 0.3);
}

.home-inner-button-container {
  background: rgba(36,47,109,1);
  border: none;
  color: rgba(255,255,255,1);
  cursor: pointer;
  font-size: 18px;
  margin-top: 24px;
  outline: none;
  padding: 8px 24px;
  pointer-events: auto;
  text-decoration: none;
  border-radius: 4px;
  font-family: inherit;
}

.home-inner-button-text {
    color: rgba(255,255,255,1);
    cursor: pointer;
    font-size: 18px;
    pointer-events: auto;
    font-family: inherit;
  }

.btn-primary{
    background-color:var(--ocean-blue);
    border:var(--ocean-blue);
}

.btn-primary:hover{
    background-color:var(--spume);
    border:var(--spume);
}

.btn-outline-success{
    border-color:var(--spume);
    color: var(--spume);
}

.btn-outline-success:hover{
    background-color:var(--spume);
    border:var(--spume);
    color:white;
}

/* message style */
.toast-capper {
    height: 2px;
}
.custom-toast {
    overflow: visible;
}
.message-container {
    position: fixed;
    top:90px;
    right: 35px;
    z-index: 99999;
}
/* arrow style taken from https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    position: absolute;
    right: 75px;
    top: -10px;
}

/* color values taken from bootsrap */
.arrow-primary {
    border-bottom-color: #007bff ;
}
.arrow-secondary {
    border-bottom-color: #6c757d ;
}
.arrow-success {
    border-bottom-color: #28a745 ;
}
.arrow-danger {
    border-bottom-color: #dc3545 ;
}
.arrow-warning {
    border-bottom-color: #ffc107 ;
}
.arrow-info {
    border-bottom-color: #17a2b8 ;
}
.arrow-light {
    border-bottom-color: #f8f9fa ;
}
.arrow-dark {
    border-bottom-color: #343a40 ;
}

.bag-notification-wrapper{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------- Allauth */

.allauth-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}
.allauth-inner-content input{
    border-color: #000;
    border-radius: 0;
}
.allauth-inner-content label:not([for="id_remember"]){
    display: none;
}
.allauth-form-inner-content input::placeholder{
    color: #aab7c4;
}
.allauth-inner-content button,
.allauth-inner-content input[type='submit'] {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(36,47,109,1);
    border: 1px solid rgba(36,47,109,1);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap button transition */
    transition: color .15s ease-in-out,  background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-inner-content button:hover,
.allauth-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: rgba(36,47,109,0.8);
    border-color: rgba(36,47,109,0.8);
}

.allauth-inner-content a {
    color: #17a2b8;
}


/* -------------   style for contact page */
.contact-background{
    background-image: url(../img/slide-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.contact-container {
    min-height: 100vh;
}
/* ---------Media query */

/* Container width should be max for smaller screen */

/* slightly larger container on xl screen */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .contact-container {
        padding-top: 75px;
    }
}

@media (max-width: 576px) {

    .container, 
    .container-sm {
        max-width: 100%;
    }
    .navbar {
        padding: 0px;
    }
    .col-12 {
        padding-right: 5px;
    }
    .contact-container {
        padding-top: 25px;
    }
}

/* No padding for small screen topbar items */

@media (max-width: 576px) {
    .navbar {
        padding: 0px;
    }
    .col-12 {
        padding-right: 5px;
    }
}

/* ----------allauth--- */
@media only screen and (min-width : 992px) {
    .auth-pages-border {
        border: 1px solid black;
        border-radius: 10px;
    }
    .auth-background {
        background-image: url(../img/slide-1.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}