<div class="flex-grow-1">
  <ul class="d-inline-flex d-lg-none justify-content-around w-100 ">
    <li class="list-inline-item ">
      <a href="#" class="nav-link text-ocean-blue d-block d-lg-none" id="mobile-search" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
        <div class="text-center mobile-nav-space">
          <div><i class="fas fa-search"></i></div>
          <small class="my-0 nav-text-smaller1 fw-bolder d-none d-sm-flex">Search</small>
        </div>
      </a>
      <div class="dropdown-menu border-0 p-4 mt-3 rounded-0 my-0 w-75 w-md-100" aria-labelledby="mobile-search">
        <form method="GET" action="{% url 'products' %}">
          <div class="input-group my-2 w-100">
            <input class="form-control border border-ocean-blue rounded-0" type="text" name="q"
                placeholder="Search our sites" aria-label="Search">
            <div class="input-group-append">
              <button class="form-control btn btn-ocean-blue border border-ocean-blue rounded-0" type="submit" aria-label="search">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>
    <li class="list-inline-item dropdown p-0 d-block d-lg-none text-end">
      <a href="#" class="nav-link" id="user_options" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="text-center text-ocean-blue mr-0 mobile-nav-space">
          <div><i class="fas fa-user"></i></div>
          <small class="my-0 nav-text-smaller1 fw-bolder d-none d-sm-flex">My Account</small>
        </div>
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="user_options">
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
            <a href="{% url 'product_add' %}" class="dropdown-item text-ocean-blue fw-bolder">Product Managment</a>
            <a href="{% url 'inventory_view'%}" class="dropdown-item text-ocean-blue fw-bolder">Inventory Managment</a>
          {% endif %}
          <a href="{% url 'user_profile' %}" class="dropdown-item text-ocean-blue fw-bolder">My Profile</a>
          <a href="{% url 'account_logout' %}"
          class="dropdown-item text-ocean-blue fw-bolder">Logout</a>
        {% else %}
          <a href="{% url 'account_signup' %}"
          class="dropdown-item text-ocean-blue fw-bolder">Register</a>
          <a href="{% url 'account_login' %}"
          class="dropdown-item text-ocean-blue fw-bolder">Login</a>
        {% endif %}
      </div>
    </li>
    <li class="list-inline-item p-0 d-block d-lg-none text-end">
      <a href="{% url 'view_bag' %}"
        class="{% if grand_total %} text-info {% else %}text-black{% endif %} nav-link">
        <div class="text-center text-ocean-blue mobile-nav-space">
          <div><i class="fas fa-shopping-bag"></i></div>
          <small class="my-0 nav-text-smaller1 fw-bolder">
            {% if grand_total %}
              ${{grand_total| floatformat:2}}
            {% else %}
              $0.00
            {% endif %}
          </small>
        </div>
      </a>
    </li>
  </ul>
</div>