{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner_content %}
    <div class="col-12 col-lg-6 pt-5 pb-3 px-4 d-flex flex-column mt-5 auth-pages-border bg-white">
        <div class="w-100 d-flex align-items-center pb-3">
        <h2 class="fs-4 text-uppercase w-75">{% trans "Account Inactive" %}</h2>
        <img class="w-25" src="{% static 'img/logo.png' %}" alt="dolphin-logo">
        </div>
        <p>{% trans "This account is inactive." %}</p>
    </div>
{% endblock %}
