{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
  <div class="col-11 col-lg-5 pt-5 pb-3 px-4 d-flex flex-column my-5 auth-pages-border bg-white auth-pages-dm">
    <div class="w-100 d-flex align-items-center pb-3">
      <h2 class="fs-4 text-uppercase w-75">{% trans "Verify Your E-mail Address" %}</h2>
      <img class="w-25 img-fluid d-none d-lg-block" src="{% static 'img/logo.png' %}" alt="dolphin-logo">
    </div>
    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
  </div>
{% endblock %}
