{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">    
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="product-container mx-5 mt-3">
        <div class="row">
            <div class="col mb-5">
                <h1 class="">COURSES</h1>
                {% if request.user.is_superuser %}
                <small class="">
                    <a href="{% url 'add_course' %}">Add Course</a>
                </small>
            {% endif %}
            </div>
        </div>
        {% for object in object_list %}
            <div class="row d-flex {% if forloop.counter|divisibleby:2 %} flex-row-reverse {% endif %} mb-3">
                <div class="col-12 col-md-6 d-flex flex-column">
                    <h2 class="fs-4">{{ object.name }}</h2>
                    <div>{{ object.description | linebreaks }}</div>
                    <p><strong>Duration:</strong> {{ object.duration_weeks }} week</p>
                    <p><strong>Price:</strong><span class="lead"> ${{object.price}} </span></p>
                    <div class ="align-self-end">
                    <a class="btn btn-bg-brown rounded-0 me-2" href="{% url 'contact' %}">Enquire now</a>
                    <a class="btn btn-ocean-blue rounded-0" href="{% url 'course_detail' object.slug %}">More Details</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-first order-md-last">
                    {% if object.image %}
                        <img src="{{ object.image.url }}" alt="{{ object.friendly_name }}" class="course-list-image img-responsive w-100 my-3">
                    {% else %}
                        <img src="{{MEDIA_URL}}noimage.webp" alt="blank image" class="course-list-image img-responsive w-100 my-3">
                    {% endif %}
                </div>
            </div>
            <div class="container content my-3">
                <hr class="my-3">
            </div>
        {% endfor %}
        <div class="btt-button shadow-sm rounded-0 border border-ocean-blue">
            <a class="btt-link d-flex h-100 text-white">
                <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
            </a>	
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super}}
    <script type="text/javascript">
        // float button
        $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
        })
    </script>
{% endblock %}