
{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">    
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container product-container">
        <div class="row">
            <div class="col-8 my-sm-3 offset-3">
                <h1 class="fs-3">
                    COURSE DETAILS
                    <hr class="w-75 mb-1">
                </h1>
            </div>
        </div>
    </div>
<!-- Course Details image container -->
<div class="content container">
    <div class="row">
        <!-- Course image or placeholder text -->
        <div class="col-12 col-md-6">
            {% if not object.image %}
                <img src="{{MEDIA_URL}}noimage.png" class="img-responsive w-100 mt-3" alt="{{object.friendly_name}}">
            {% else %}
                <img src="{{ object.image.url }}" alt="{{ object.friendly_name }}" class="img-responsive w-100 mt-3">
            {% endif %}
        </div>
        <div class="col-12 col-md-6 d-flex flex-column">
            <h2>{{ object.friendly_name }}</h2>
            {% if request.user.is_superuser %}
                        <small class="ms-3">
                            <a href="#">Edit </a>|
                            <a class="text-danger" href="#"> Delete</a>
                        </small>
                    {% endif %}
            <div>{{ object.description | linebreaks}}</div>
            <div>{{ object.extra_details | linebreaks}}</div>
            <p><strong>Duration:</strong> {{ object.duration_weeks }} week</p>
            <p><strong>Price:</strong> ${{object.price}} </p>
            <div class = "align-self-start">
                <a class="btn btn-secondary me-3" href = "../">Back</a>
                <a class = "btn btn-ocean-blue me-3" href="{% url 'contact' %}">Contact now!</a>
            </div>
        </div>
    </div>
    <div class = "container">
        <hr>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super}}
    {% include 'products/includes/product_quantity_script.html' %}
{% endblock %}