{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">    
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="product-container mx-5">
        <div class="row mt-3 pt-3 pt-sm-0 mt-sm-5 mt-lg-0">
            <div class="col">
                <h1 class="my-5">
                    ADD COURSE
                </h1>
            </div>
        </div>  
        <div class="row">
            <div class="col col-md-6">
                <form  class="form mb-4" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-end">
                        <a class="btn btn-outline-light-blue rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn rounded-0 btn-ocean-blue" type="submit">Add Course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
