{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">    
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="product-container mx-5 h-100">
        <div class="row ">
            <div class="col">
                <hr>
                <h1 class="fs-3">
                    UPDATE INVENTORY
                </h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container d-flex align-items-center flex-column mb-5">
        <div>
            <p>
                <span class="fw-bolder">SKU:</span>
                <span class="text-muted">{{sub_product.sku}} </span>
            </p>
            <p> 
                <span class="fw-bolder">Product:</span>
                <span class="text-muted">{{sub_product.product.name}} </span>
            </p>
            <form action="{% url 'edit_inventory' sub_product.id %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <div class="text-start">
                    <a class="btn btn-secondary rounded-0" href="{% url 'inventory_view' %}">Cancel</a>
                    <button class="btn rounded-0 btn-ocean-blue" type="submit">Update Inventory</button>
                </div>
            </form>  
        </div>      
    </div>
{% endblock %}
