{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">    
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="product-container mx-5">
        <div class="row  mt-3 pt-3 pt-sm-0 mt-sm-5 mt-lg-0">
            <div class="col">
                <h1 class="my-5">
                    INVENTORY
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <form method="GET" action="{% url 'inventory_view' %}">
                    <div class="row">
                      <div class="col-4">
                        <label for="id_sku" class="form-label">SKU:</label>
                      </div>
                      <div class="col">
                        <input type="text" name="sku">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <label for="id_product__name" class="form-label">Product Name:</label>
                      </div>
                      <div class="col">
                        <input type="text" name="product-name">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-4"></div>
                      <div class="col">
                        <span>
                            <input type="submit" class="btn btn-ocean-blue rounded-0" name="query"></button>
                            <input type="submit" class="btn btn-ocean-blue rounded-0" value="Reset"> </button>
                        </span>  
                      </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <!--  code taken from bootstrap -->
            <div class="col d-flex align-items-end justify-content-end">
                {% if page_obj.has_other_pages %}
                    <nav>
                        <ul class="pagination justify-content-end">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link" aria-hidden="true">&laquo;</span>
                                </li>
                            {% endif %}

                            {% for p in page_obj.paginator.page_range %}
                                {% if page_obj.number == p %}
                                    <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">&raquo;</span>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
    <div class = "container">
        <div class="table-responsive rounded">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col">SKU</th>
                        <th scope="col">PRODUCT</th>
                        <th scope="col">SIZE</th>
                        <th scope="col">QTY</th>
                        <th scope="col">UPDATE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sub_product in page_obj %}
                        <tr>
                            <td>{{ sub_product.sku }}</th>
                            <td>{{ sub_product.product }}</td>
                            <td>{{ sub_product.size }}</td>
                            <td>{{ sub_product.units }}</td>
                            <td><a class = "btn-sm btn-ocean-blue rounded text-decoration-none" href="{%url 'edit_inventory' sub_product.id %}">Adjust Qty</a></td>
                        </tr>
                    {% endfor %}                
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
