{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">    
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="product-container col-10 offset-1">
        <div class="row  mt-5 pt-3 pt-sm-0 mt-sm-5 mt-lg-0">
            <div class="col">
                <h1 class="my-5">
                    SHOP
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-md-block d-none">
                <h2 class="fs-6">CATEGORIES</h2>
                <hr>
                {% for category in categories %}
                    <p><a class="text-decoration-none" href="#">{{category.friendly_name}}</a></p>
                {% endfor %}
            </div>
            <div class="col">
                <div class="row mb-5">
                    <div class = "col d-flex flex-column justify-content-end align-items-end me-5">
                        
                    </div> 
                </div>
                <div class="row">
                    {% for image in images %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card border-0 h-100">
                                {% if image.image_url %}
                                    <img src="{{image.image_url}}" class="card-img-top img-fluid" alt="{{image.alternative_text}}">
                                {% else %}
                                    <img src="{% static 'img/MENS_SHORTS.jpg' %}" class="card-img-top img-fluid" alt="{{image.alternative_text}}">
                                {% endif %}
                                <div class="card-body pb-0">
                                  <p class="mb-0">{{image.inventory.product.name}}</p>
                                </div>
                                <div class="card-footer bg-white border-0">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">
                                                ${{image.inventory.product.price}}
                                            </p>
                                            <small class="text-muted">No Rating</small>
                                        </div>
                                    </div>
                                </div>
                              </div>

                        </div>
                    {% endfor %}
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}