{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Product Managment</h2>
                <h5 class="text-muted">Add Product</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <form  class="form mb-4" action="{% url 'product_add' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-end">
                        <a class="btn btn-outline-light-blue rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn rounded-0 btn-ocean-blue" type="submit">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
