{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">    
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="product-container mx-5">
        <div class="row  mt-5 pt-3 pt-sm-0 mt-sm-5 mt-lg-0">
            <div class="col">
                <h1 class="my-5">
                    SHOP
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-md-block d-none">
                <h2 class="fs-6">CATEGORIES</h2>
                <hr>
                {% for category in categories %}
                    <p><a class="text-decoration-none text-reset" href="#">{{category.friendly_name}}</a></p>
                {% endfor %}
            </div>
            <div class="col">
                <div class="row mb-5">
                    <div class = "col d-flex flex-column justify-content-end align-items-end me-5"> 
                    </div> 
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card border-0">
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{product.image.url}}" class="card-img-top img-fluid" alt="{{product.name}}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{% static 'img/MENS_SHORTS.jpg' %}" class="card-img-top img-fluid" alt="{{image.alternative_text}}">
                                    </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                  <p class="mb-0">{{product.name}}</p>
                                </div>
                                <div class="card-footer bg-white border-0 text-start pt-0">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-start font-weight-bold">
                                                ${{product.price}}
                                            </p>
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star me-1"></i>{{product.rating}} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-md-block d-lg-none mb-4">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-4">
                            <hr>
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-4">
                            <hr>
                        </div>
                        {% endif %}
                    {% endfor %}                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}